<div data-role="view" data-layout="create" data-model="app.viewmodels.driverMode">
    <h1 data-role="header" data-bind="text : title" class="h1"> </h1>
    <br />
    <form>
        <label for="title">Trip Title</label>
        <input type="text" id="title"  required data-bind="value: tripTitle" />
        <br />
        <label for="from">From</label>
        <input type="text" id="from" required data-bind="value: from" />
        <br />
        <label for="to">To</label>
        <input type="text" id="to" required data-bind="value: to"/>
        <br />
        <label for="date">Date</label>
        <input type="date" id="date" required />
        <br />
        <label for="info">Trip Description</label>
        <input type="text" id="info" data-bind="value: tripDescription"/>
        <br />
        
      
    </form>
    <div data-role="navbar">
         <button class="createButton" data-role="button" data-bind="events: {click: getInfo}">
            Create
        </button>
    </div>
     
</div>