<div data-role="view" data-layout="peopleToWatch" data-model="app.viewmodels.invitePeopleMode">
    <h1 data-role="header" data-bind="text:title" class="h1">
           </h1>
   
    <div data-role="button" data-align="right">
        DONE
    </div>
    <div style="width:250px;height:350px;overflow-y:scroll;">
        <div>
            <input type="checkbox" id="checkall" class="click" />
            <span class="checkbox">All</span>
        </div>
        <div id="listView" class="k-listview" data-bind="source: contacts" data-template="contacts-template">
        </div>
    </div>
</div>
